In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_csv("../data/MAP_paper_antibodies_raw_data.csv")
df

,condition,site,wildtype,mutation,mut_escape,site_total_escape,site_max_escape
0,COV2-2050,331,N,A,0.000366,0.03350,0.005233
1,COV2-2050,331,N,C,0.001012,0.03350,0.005233
2,COV2-2050,331,N,D,0.000373,0.03350,0.005233
3,COV2-2050,331,N,E,0.005233,0.03350,0.005233
4,COV2-2050,331,N,F,0.001505,0.03350,0.005233
...,...,...,...,...,...,...,...
23591,rCR3022,531,T,R,0.004248,0.08231,0.006145
23592,rCR3022,531,T,S,0.003195,0.08231,0.006145
23593,rCR3022,531,T,V,0.004409,0.08231,0.006145
23594,rCR3022,531,T,W,0.005216,0.08231,0.006145
23595,rCR3022,531,T,Y,0.003794,0.08231,0.006145

In [5]:
df = df[df.condition!='rCR3022']
df

,condition,site,wildtype,mutation,mut_escape,site_total_escape,site_max_escape
0,COV2-2050,331,N,A,0.000366,0.03350,0.005233
1,COV2-2050,331,N,C,0.001012,0.03350,0.005233
2,COV2-2050,331,N,D,0.000373,0.03350,0.005233
3,COV2-2050,331,N,E,0.005233,0.03350,0.005233
4,COV2-2050,331,N,F,0.001505,0.03350,0.005233
...,...,...,...,...,...,...,...
21234,COV2-2832,531,T,R,0.001370,0.04335,0.004071
21235,COV2-2832,531,T,S,0.001058,0.04335,0.004071
21236,COV2-2832,531,T,V,0.002170,0.04335,0.004071
21237,COV2-2832,531,T,W,0.002036,0.04335,0.004071
21238,COV2-2832,531,T,Y,0.002388,0.04335,0.004071

In [6]:
my_sites = np.concatenate([np.arange(484, 506), np.array([417, 439])])

In [7]:
len(my_sites)

24

In [8]:
df[df['condition'].isin(my_sites)]

Empty DataFrame
Columns: [condition, site, wildtype, mutation, mut_escape, site_total_escape, site_max_escape]
Index: []

In [9]:
# sort by condition and site
df = df.sort_values(by=['site'])
df

,condition,site,wildtype,mutation,mut_escape,site_total_escape,site_max_escape
0,COV2-2050,331,N,A,0.000366,0.03350,0.005233
4727,COV2-2094,331,N,K,0.000659,0.03156,0.003545
4728,COV2-2094,331,N,L,0.002468,0.03156,0.003545
4729,COV2-2094,331,N,M,0.001484,0.03156,0.003545
4730,COV2-2094,331,N,P,0.001821,0.03156,0.003545
...,...,...,...,...,...,...,...
16504,COV2-2499,531,T,E,0.002706,0.04579,0.003320
16503,COV2-2499,531,T,D,0.001753,0.04579,0.003320
16502,COV2-2499,531,T,C,0.002169,0.04579,0.003320
16509,COV2-2499,531,T,K,0.001852,0.04579,0.003320
21238,COV2-2832,531,T,Y,0.002388,0.04335,0.004071

In [10]:
# select max value of mut_escape within site
df['site_max_escape'] = df.groupby(['condition'])['mut_escape'].transform('max')

In [11]:
df

,condition,site,wildtype,mutation,mut_escape,site_total_escape,site_max_escape
0,COV2-2050,331,N,A,0.000366,0.03350,0.3786
4727,COV2-2094,331,N,K,0.000659,0.03156,0.5164
4728,COV2-2094,331,N,L,0.002468,0.03156,0.5164
4729,COV2-2094,331,N,M,0.001484,0.03156,0.5164
4730,COV2-2094,331,N,P,0.001821,0.03156,0.5164
...,...,...,...,...,...,...,...
16504,COV2-2499,531,T,E,0.002706,0.04579,0.7209
16503,COV2-2499,531,T,D,0.001753,0.04579,0.7209
16502,COV2-2499,531,T,C,0.002169,0.04579,0.7209
16509,COV2-2499,531,T,K,0.001852,0.04579,0.7209
21238,COV2-2832,531,T,Y,0.002388,0.04335,0.3066

In [4]:
ab = df['condition'].unique()[:-1]

In [5]:
df['site_total_escape'].apply(lambda x: x > 0.05).values.astype('int')

array([0, 0, 0, ..., 1, 1, 1])

In [58]:
overall = pd.DataFrame()
for i in ab:
    subset = df[df['condition'] == i]
    subset.loc[:, 'label'] = subset['site_total_escape'].apply(lambda x: x > 1).values.astype('int')
    overall = pd.concat([overall, subset])



#df['site_total_escape'].median()

/tmp/ipykernel_118356/70456425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.loc[:, 'label'] = subset['site_total_escape'].apply(lambda x: x > 1).values.astype('int')
/tmp/ipykernel_118356/70456425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.loc[:, 'label'] = subset['site_total_escape'].apply(lambda x: x > 1).values.astype('int')
/tmp/ipykernel_118356/70456425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.loc[:, 'label'] = subset['site_total_escape'].apply(lambda x: x > 1).values.astype('int')
/tmp/ipykernel_118356/70456425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.loc[:, 'label'] = subset['site_total_escape'].apply(lambda x: x > 1).values.astype('int')
/tmp/ipykernel_118356/70456425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.loc[:, 'label'] = subset['site_total_escape'].apply(lambda x: x > 1).values.astype('int')
/tmp/ipykernel_118356/70456425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.loc[:, 'label'] = subset['site_total_escape'].apply(lambda x: x > 1).values.astype('int')
/tmp/ipykernel_118356/70456425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.loc[:, 'label'] = subset['site_total_escape'].apply(lambda x: x > 1).values.astype('int')
/tmp/ipykernel_118356/70456425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.loc[:, 'label'] = subset['site_total_escape'].apply(lambda x: x > 1).values.astype('int')
/tmp/ipykernel_118356/70456425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.loc[:, 'label'] = subset['site_total_escape'].apply(lambda x: x > 1).values.astype('int')

In [27]:
#df.groupby(['site'])['site_max_escape'].agg(['mean'])

In [59]:
overall.label.value_counts()

0    20725
1      514
Name: label, dtype: int64

In [30]:
overall.head()

,condition,site,wildtype,mutation,mut_escape,site_total_escape,site_max_escape,label
0,COV2-2050,331,N,A,0.000366,0.0335,0.005233,0
1,COV2-2050,331,N,C,0.001012,0.0335,0.005233,0
2,COV2-2050,331,N,D,0.000373,0.0335,0.005233,0
3,COV2-2050,331,N,E,0.005233,0.0335,0.005233,0
4,COV2-2050,331,N,F,0.001505,0.0335,0.005233,0

In [32]:
with open('../data/P0DTC2.fasta.txt', 'r') as fi:
    data = fi.read()

In [35]:
seq = ''.join(data.split('\n')[1:])

In [40]:
seq[332]

'T'

In [39]:
overall.iloc[40]

condition            COV2-2050
site                       333
wildtype                     T
mutation                     D
mut_escape            0.003108
site_total_escape      0.03031
site_max_escape       0.005318
label                        0
Name: 40, dtype: object

In [53]:
sites = overall.site.values - 1
symp = overall.wildtype.values

In [64]:
for i, j in zip(sites, symp):
    assert seq[i] == j

In [67]:
sites

array([330, 330, 330, ..., 530, 530, 530])

In [57]:
seq

'MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSSVLHSTQDLFLPFFSNVTWFHAIHVSGTNGTKRFDNPVLPFNDGVYFASTEKSNIIRGWIFGTTLDSKTQSLLIVNNATNVVIKVCEFQFCNDPFLGVYYHKNNKSWMESEFRVYSSANNCTFEYVSQPFLMDLEGKQGNFKNLREFVFKNIDGYFKIYSKHTPINLVRDLPQGFSALEPLVDLPIGINITRFQTLLALHRSYLTPGDSSSGWTAGAAAYYVGYLQPRTFLLKYNENGTITDAVDCALDPLSETKCTLKSFTVEKGIYQTSNFRVQPTESIVRFPNITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFSTFKCYGVSPTKLNDLCFTNVYADSFVIRGDEVRQIAPGQTGKIADYNYKLPDDFTGCVIAWNSNNLDSKVGGNYNYLYRLFRKSNLKPFERDISTEIYQAGSTPCNGVEGFNCYFPLQSYGFQPTNGVGYQPYRVVVLSFELLHAPATVCGPKKSTNLVKNKCVNFNFNGLTGTGVLTESNKKFLPFQQFGRDIADTTDAVRDPQTLEILDITPCSFGGVSVITPGTNTSNQVAVLYQDVNCTEVPVAIHADQLTPTWRVYSTGSNVFQTRAGCLIGAEHVNNSYECDIPIGAGICASYQTQTNSPRRARSVASQSIIAYTMSLGAENSVAYSNNSIAIPTNFTISVTTEILPVSMTKTSVDCTMYICGDSTECSNLLLQYGSFCTQLNRALTGIAVEQDKNTQEVFAQVKQIYKTPPIKDFGGFNFSQILPDPSKPSKRSFIEDLLFNKVTLADAGFIKQYGDCLGDIAARDLICAQKFNGLTVLPPLLTDEMIAQYTSALLAGTITSGWTFGAGAALQIPFAMQMAYRFNGIGVTQNVLYENQKLIANQFNSAIGKIQDSLSSTASALGKLQDVVNQNAQALNTLVKQLSSNFGAISSVLNDILSRLDKVEAEVQIDRLITGRLQSLQTYVTQQLIRAAEIRASANLAATKMSECVLGQSKRVDFCGKGYHLMSFPQSAPHGVVFLHVTYVPAQEKNFTTAPAICHDGKAHFPREGVFVSNGTHWFVTQRNFYEPQIITTDNTFVSGNCDVVIGIVNNTVYDPLQPELDSFKEELDKYFKNHTSPDVDLGDISGINASVVNIQKEIDRLNEVAKNLNESLIDLQELGKYEQYIKWPWYIWLGFIAGLIAIVMVTIMLCCMTSCCSCLKGCCSCGSCCKFDEDDSEPVLKGVKLHYT'

In [60]:
map_

{330: 'N',
 331: 'I',
 332: 'T',
 333: 'N',
 334: 'L',
 335: 'C',
 336: 'P',
 337: 'F',
 338: 'G',
 339: 'E',
 340: 'V',
 341: 'F',
 342: 'N',
 343: 'A',
 344: 'T',
 345: 'R',
 346: 'F',
 347: 'A',
 348: 'S',
 349: 'V',
 350: 'Y',
 351: 'A',
 352: 'W',
 353: 'N',
 354: 'R',
 355: 'K',
 356: 'R',
 357: 'I',
 358: 'S',
 359: 'N',
 360: 'C',
 361: 'V',
 362: 'A',
 363: 'D',
 364: 'Y',
 365: 'S',
 366: 'V',
 367: 'L',
 368: 'Y',
 369: 'N',
 370: 'S',
 371: 'A',
 372: 'S',
 373: 'F',
 374: 'S',
 375: 'T',
 376: 'F',
 377: 'K',
 379: 'Y',
 380: 'G',
 381: 'V',
 382: 'S',
 383: 'P',
 384: 'T',
 385: 'K',
 386: 'L',
 387: 'N',
 388: 'D',
 389: 'L',
 390: 'C',
 391: 'F',
 392: 'T',
 393: 'N',
 394: 'V',
 395: 'Y',
 396: 'A',
 398: 'S',
 400: 'V',
 401: 'I',
 402: 'R',
 403: 'G',
 404: 'D',
 405: 'E',
 406: 'V',
 407: 'R',
 408: 'Q',
 409: 'I',
 410: 'A',
 412: 'G',
 413: 'Q',
 414: 'T',
 416: 'K',
 417: 'I',
 418: 'A',
 419: 'D',
 420: 'Y',
 423: 'K',
 424: 'L',
 425: 'P',
 426: 'D',
 427: 'D',
 428: 'F',
 429: 'T',
 432: 'V',
 433: 'I',
 434: 'A',
 435: 'W',
 436: 'N',
 437: 'S',
 438: 'N',
 439: 'N',
 440: 'L',
 441: 'D',
 442: 'S',
 443: 'K',
 444: 'V',
 445: 'G',
 446: 'G',
 447: 'N',
 448: 'Y',
 449: 'N',
 450: 'Y',
 451: 'L',
 452: 'Y',
 454: 'L',
 455: 'F',
 457: 'K',
 458: 'S',
 459: 'N',
 460: 'L',
 461: 'K',
 462: 'P',
 463: 'F',
 464: 'E',
 465: 'R',
 467: 'I',
 468: 'S',
 469: 'T',
 470: 'E',
 471: 'I',
 472: 'Y',
 473: 'Q',
 474: 'A',
 475: 'G',
 476: 'S',
 477: 'T',
 478: 'P',
 480: 'N',
 481: 'G',
 482: 'V',
 483: 'E',
 484: 'G',
 485: 'F',
 486: 'N',
 488: 'Y',
 489: 'F',
 490: 'P',
 491: 'L',
 492: 'Q',
 493: 'S',
 494: 'Y',
 495: 'G',
 496: 'F',
 497: 'Q',
 498: 'P',
 499: 'T',
 500: 'N',
 502: 'V',
 503: 'G',
 504: 'Y',
 505: 'Q',
 506: 'P',
 507: 'Y',
 509: 'V',
 510: 'V',
 511: 'V',
 512: 'L',
 513: 'S',
 514: 'F',
 515: 'E',
 516: 'L',
 517: 'L',
 518: 'H',
 519: 'A',
 520: 'P',
 521: 'A',
 522: 'T',
 523: 'V',
 524: 'C',
 525: 'G',
 526: 'P',
 527: 'K',
 528: 'K',
 529: 'S',
 530: 'T'}